__pycache__/
*.py[cod]
*$py.class

.venv/
env/
venv/
ENV/
.venv.bak/

.ipynb_checkpoints

*.ckpt
*.pt
*.bin
*.onnx
.cache/
transformers_cache/
torch_cache/

*.xoj
*.xojbackup


*.log
*.tmp
*.bak

.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

htmlcov/
.coverage
.tox/
.nox/
.pytest_cache/

*.so

dev/
notebooks/

/trash

